<div class="container mt-4">
    <h2>Cadastrar Novo Usuário</h2>

    <form [formGroup]="userForm" (ngSubmit)="submitForm()">
        <div class="mb-3">
            <label for="username" class="form-label">Nome de Usuário</label>
            <input type="text" class="form-control" id="username" formControlName="username" />
            <div *ngIf="userForm.controls['username'].invalid && userForm.controls['username'].touched"
                class="text-danger">
                Nome deve ter pelo menos 3 caracteres.
            </div>
        </div>

        <button type="submit" class="btn btn-success" [disabled]="userForm.invalid">
            Salvar
        </button>
        <button type="button" class="btn btn-secondary ms-2" (click)="goToUserList()">
            Cancelar
        </button>
    </form>
</div>