.sidebar {
    width: 250px;
    background-color: #2c3e50;
    color: #ecf0f1;
    height: 100vh;
    position: fixed;

    ul {
        list-style: none;
        padding: 0;

        li {
            padding: 15px;

            a {
                color: #ecf0f1;
                text-decoration: none;

                &:hover {
                    color: #3498db;
                }
            }
        }
    }
}

.item {
    padding: 10px;
    color: #ffffff;
    text-decoration: none;
}

.item:hover {
    background-color: #1d2835;
}

.active {
    background-color: #1d2835; 
    font-weight: bold;
}