.layout {
    display: flex;
    height: 100vh;

    app-sidebar {
        width: 250px;
        background-color: #f4f4f4;
        /* Sidebar color */
        box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    }

    .content {
        flex: 1;
        padding: 20px;
        background-color: #fafafa;
        /* Background color for content */
        overflow-y: auto;
    }
}